.row {
  padding: 20px;
}
div {
  background: #fff;
  text-align: center;
}

/*estilo nombre*/
#name {
  font-weight: bold;
  margin-top: 30%;
  margin-left: 10px;
}

/*estilo foto de perfil*/
@media (min-width: 576px) {
  #profilepicture {
    border-radius: 100%;
    box-shadow: 3px 3px 3px #e3b746;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575px) {
  #profilepicture {
    position: absolute;
    width: 30%;
    box-shadow: 3px 3px 3px #e3b746;
    left: 33%;
    top: 650px;
  }
}
