<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/20220410_144338.jpg"
      class="img-fluid"
      id="profilepicture"
      class="img-fluid"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">{{ user.name }} {{ user.lastName }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <samp>
      <h1>Acerca de mí</h1>
      <p>
        Me llamo Antonela, soy de Ushuaia. No tenemos pinguinos como mascotas,
        pero si tengo una perra de 10 años y un gato de 2 años. Estudio
        Ingenieria en sistemas. Me gusta andar en kayak, armar rompecabezas,
        hacer caminatas en la montaña y cada tanto practicar arqueria.
      </p>
    </samp>
  </div>
</div>
