<div>
  <button
    type="button"
    class="btn btn-light"
    routerLink="/editabout/"
    *ngIf="isLogged"
  >
    Editar usuario
  </button>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="{{ user.img }}"
      class="img-fluid"
      id="profilepicture"
      class="img-fluid"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">{{ user.name }} {{ user.lastName }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 description">
    <samp>
      <h1>Acerca de mí</h1>
      <p>
        {{ user.description }}
      </p>
    </samp>
  </div>
</div>
