<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/20220410_144338.jpg"
      class="img-fluid"
      id="profilepicture"
      class="img-fluid"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">{{ person.name }} {{ person.lastName }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <samp>
      <h1>Acerca de mí</h1>
      <p>Me gusta comer mocos verdes</p>
    </samp>
  </div>
</div>
