<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="network">
      <a href=""
        ><img src="../../../assets/linkedin.png" id="" title="linkedin"
      /></a>
      <a href=""
        ><img src="../../../assets/github.png" id="" title="github"
      /></a>
      <a href=""
        ><img src="../../../assets/instagram.png" id="" title="instagram"
      /></a>
      <button
        type="button"
        class="btn btn-light"
        (click)="login()"
        *ngIf="isLogged"
      >
        INGRESAR
      </button>
      <button
        type="button"
        class="btn btn-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        CERRAR SESION
      </button>
    </div>
  </div>
</div>
