<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="network">
      <a href=""
        ><img src="../../../assets/linkedin.png" id="" title="linkedin"
      /></a>
      <a href=""
        ><img src="../../../assets/github.png" id="" title="github"
      /></a>
      <a href=""
        ><img src="../../../assets/twitter.png" id="" title="twitter"
      /></a>
      <a href=""
        ><img src="../../../assets/instagram.png" id="" title="instagram"
      /></a>
      <a href=""
        ><img src="../../../assets/facebook.png" id="" title="facebook"
      /></a>
      <button type="button" class="btn btn-light" (click)="login()">
        INGRESAR
      </button>
    </div>
  </div>
</div>
