<div class="container" *ngIf="skills">
  <div class="row">
    <div>
      <form (ngSumit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="name">Nombre de la Skill</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            {ngModel}="skill.name"
            required
          />
          />
        </div>
        <div class="form-group">
          <label for="Porcentage">Porcentaje de la skill</label>
          <input
            type="text"
            class="form-control"
            id="Porcentage"
            name="Porcentage"
            {ngModel}="skills.Porcentage"
            required
          />
        </div>
        <button class="btn btn-light">Actualizar skill</button>
      </form>
    </div>
  </div>
</div>
