.row{
    padding: 20px;
    background-color: #a2798f
}
.container{
    width: auto;
}
.part1{
    display: inline-block;
    text-align:justify;
}
.img-project{
    box-shadow: 10px 10px 20px #464545;
}